@charset "utf-8";


$grid :1280px;
$font : #222831;
$bgc : #fff;
$main : #B3A9E4 ;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'KIMM_Light';
    src: url('../font/KIMM_Light.woff') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}




* {
    margin: 0;
    padding: 0;
}

li,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: none;
}

body {
    background-color: $bgc;
    // font-family: 'KIMM_Bold', sans-serif;
   
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


@mixin pagename {
    text-align: center;
    margin-top: 60px;

    span {
        font-size: 60px;
        font-weight: 800;
        text-align: center;
        color: #111;
        font-family: "KIMM_Bold";
        // width: 50%;
        position: relative;

/* 페이지 제목 사각형*/
        &:before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: $main;
            top: 0px;
            right: -20px;

        }
    }


}

@mixin pageInner {
    width: $grid;
    height: 100vh;
    position: relative;
    margin: 0px auto;


}

@mixin title {
    font-family: "Noto Sans KR";
    font-weight: bold;
    font-size: 24px;
    line-height: 1.6;
}

@mixin contents {
    font-family: "Inter";
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
}