@charset "utf-8";


// color
$bgc : #fff;
$font : #222831;
$sub : #BBC8F2;
$main : #C2CBE6;
// ffeedd /ffd8be
$grid :66.6667%;
// #354649 / #6C7A89 / #A3C6C4 / #E0E7E9

// https://mycolor.space/