@charset "utf-8";


// color
$bgc : #fff;
$font : #222831;
$sub : #BBC8F2;
$main : #F39C12 ;
// ffeedd /ffd8be
$grid :1280px;
// #354649 / #6C7A89 / #A3C6C4 / #E0E7E9

// https://mycolor.space/

$title : "Noto Sans Kr", bold;
$contents : "Inter", Regular;