@charset "UTF-8";
/* reset */
/*나눔고딕*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@font-face {
  font-family: "KIMM_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #fff;
  font-family: "KIMM_Bold", sans-serif;
  letter-spacing: -0.0625em;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*로고*/
h1.logo {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  color: #000;
}
h1.logo:hover {
  color: #BBC8F2;
  transition: 0.5s;
}

/*햄버거메뉴*/
.hbm {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  display: none;
}
.hbm img {
  width: 40px;
  height: 40px;
}

/*header */
main section#main {
  width: 100%;
  height: 1080px;
  background-color: #fff;
  transition: 0.7s;
  position: relative;
  z-index: 9999;
}
main section#main .mainInner {
  width: 66.6667%;
  height: 1080px;
  margin: 0 auto;
}

ul.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul.text .up {
  display: flex;
}
ul.text .up div {
  position: relative;
  height: 100px;
  width: 100px;
  color: #000;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
}
ul.text .down {
  display: flex;
}
ul.text .down div {
  position: relative;
  height: 100px;
  width: 100px;
  color: #000;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
}
ul.text input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 80px;
  width: 80px;
  z-index: 100;
}
ul.text input[type=checkbox]:checked ~ div {
  color: #fff;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: color 2s linear infinite;
}
@keyframes color {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

main section#me {
  width: 100%;
  height: 1080px;
}
main section#me .meInner {
  width: 66.6667%;
  height: 880px;
  position: relative;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section#me .meInner .pagename {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}
main section#me .meInner .me {
  height: 70%;
  display: flex;
  justify-content: space-between;
}

main section#skills {
  width: 100%;
  height: 1080px;
}
main section#skills .skillsInner {
  width: 66.6667%;
  height: 100%;
  margin: 0px auto;
}
main section#skills .skillsInner .pagename {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}
main section#skills .skillsInner .skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
main section#skills .skillsInner .skills .card {
  width: 32%;
  margin-top: 20px;
  display: inline-block;
  transition: transform 1s;
  /* 추가 */
  transform: perspective(800px) rotateY(0deg);
  /* 추가 */
  background-color: #fff;
  transform-style: preserve-3d;
  display: inline-grid;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  line-height: 1.6;
  position: relative;
  z-index: 9;
}
main section#skills .skillsInner .skills .card:hover {
  transform: perspective(800px) rotateY(180deg);
  /* 추가 */
}
main section#skills .skillsInner .skills .card > * {
  grid-area: 1/1/1/1;
}
main section#skills .skillsInner .skills .card > div {
  height: 280px;
  border-radius: 10px;
  backface-visibility: hidden;
}
main section#skills .skillsInner .skills .card .front {
  border-radius: 10px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
main section#skills .skillsInner .skills .card .front img {
  width: 200px;
}
main section#skills .skillsInner .skills .card .back {
  border-radius: 10px;
  overflow: hidden;
  height: 280px;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* 추가 */
}
main section#skills .skillsInner .skills .card .back:before {
  content: "";
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
  animation: spin 2s linear infinite;
  z-index: -2;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
main section#skills .skillsInner .skills .card .back:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #fff;
  z-index: -1;
}
main section#skills .skillsInner .skills .card .back .backInner {
  width: 90%;
  height: 90%;
}
main section#skills .skillsInner .skills .card .back .backInner p {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
}
main section#skills .skillsInner .skills .card .back .backInner ul li {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  margin-top: 6px;
}
main section#skills .skillsInner .tools {
  display: flex;
  height: 30%;
  justify-content: center;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
main section#skills .skillsInner .tools .iconbox {
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  justify-content: center;
  gap: 10px;
  align-items: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  transition: 0.5s;
  flex-direction: column;
}
main section#skills .skillsInner .tools .iconbox:hover {
  opacity: 1;
  z-index: 99;
  margin-bottom: 100px;
  border: 3px solid #BBC8F2;
  box-sizing: border-box;
}
main section#skills .skillsInner .tools .iconbox img {
  width: 100px;
  height: 100px;
}
main section#skills .skillsInner .tools .iconbox p {
  width: 100px;
  text-align: center;
}

main section#Contact {
  width: 100%;
  height: 1080px;
}
main section#Contact .contactInner {
  width: 66.6667%;
  height: 880px;
  position: relative;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section#Contact .contactInner .pagename {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}
main section#Contact .contactInner .contactMe {
  height: 70%;
  display: flex;
  justify-content: space-between;
}
main section#Contact .contactInner .contactMe .contact {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
main section#Contact .contactInner .contactMe .contact div {
  font-weight: 500;
  font-size: 2rem;
  text-align: left;
}
main section#Contact .contactInner .contactMe .contact div a {
  color: #000;
}
main section#Contact .contactInner .contactMe .contact div a input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 500;
  margin-left: -10px;
  font-family: "KIMM_Bold";
  letter-spacing: -0.0625em;
  width: 90%;
  cursor: pointer;
  color: #000;
}
main section#Contact .contactInner .contactMe .contact div a i {
  margin-right: 20px;
  color: #000;
}
main section#Contact .contactInner .contactMe form {
  width: 50%;
  height: 70%;
  color: #000;
}
main section#Contact .contactInner .contactMe form .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main section#Contact .contactInner .contactMe form .form div {
  width: 100%;
  height: 19%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main section#Contact .contactInner .contactMe form .form div label {
  font-family: "KIMM_Bold";
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.0625em;
  margin-right: 10px;
}
main section#Contact .contactInner .contactMe form .form div input {
  border: none;
  border-radius: 5px;
  outline: none;
  width: 98%;
  height: 50px;
  background-color: #fff;
  border: 2px solid black;
  font-family: "KIMM_Bold";
  letter-spacing: -0.0625em;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
}
main section#Contact .contactInner .contactMe form .form div:nth-child(4) {
  height: 50%;
}
main section#Contact .contactInner .contactMe form .form div:nth-child(4) textarea {
  border: none;
  border-radius: 5px;
  outline: none;
  width: 98%;
  height: 200px;
  padding-top: 10px;
  background-color: #fff;
  border: 2px solid black;
  font-family: "KIMM_Bold";
  letter-spacing: -0.0625em;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
}
main section#Contact .contactInner .contactMe form .form .button {
  width: 180px;
  height: 50px;
  opacity: 0.5;
  transition: 0.5s;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "KIMM_Bold";
  letter-spacing: -0.0625em;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  --a: initial;
  cursor: pointer;
}
main section#Contact .contactInner .contactMe form .form .button::after {
  content: "";
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--diameter);
  height: var(--diameter);
  transform: scale(0);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  pointer-events: none;
  animation: var(--a);
}
main section#Contact .contactInner .contactMe form .form .button:hover {
  background-color: #000;
}
@keyframes ripple-effect {
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.meActive {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: color 2s linear infinite;
  transition: 0.5s;
}
@keyframes color {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.buttonon {
  opacity: 1;
  position: relative;
  width: 180px;
  height: 50px;
  transition: 0.5s;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "KIMM_Bold";
  letter-spacing: -0.0625em;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  --a: initial;
  cursor: pointer;
}
.buttonon::after {
  content: "";
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--diameter);
  height: var(--diameter);
  transform: scale(0);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  pointer-events: none;
  animation: var(--a);
}
@keyframes ripple-effect {
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

header {
  right: -4999px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  position: fixed;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
  display: flex;
  transition: 0.8s;
  align-items: center;
  justify-content: center;
}
header .headerInner {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headerInner ul.submenu {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
header .headerInner ul.submenu a {
  font-size: 8rem;
  font-weight: 800;
}