@import "./style";

header {
    
    right: -4999px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    position: fixed;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.1);
    z-index: 99;
    display: flex;
    transition: 0.8s;
    align-items: center;
    justify-content: center;
   



    .headerInner {
        width: 100%;
        height: 100%;
        // height: 50%;
        //    line-height: 1.5;
        background-color: #fff;
        margin: 0 auto;
        display: flex;


        justify-content: space-between;
        align-items: center;


        // h1.logo {
        //     position: absolute;


        //     a {
        //         font-size: 2rem;
        //         font-weight: 700;
        //         font-family: 'KIMM_Bold';
        //         letter-spacing: -1px;
        //         color: $sub;

        //         &:hover {
        //             color: $main;
        //         }

        //     }
        // }

        ul.submenu {
            display: flex;
            width: 100%;
            height: 50%;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;



            a {
                font-size: 8rem;
                font-weight: 800;


            }
        }
    }
}
