@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@font-face {
  font-family: "KIMM_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KIMM_Light";
  src: url("../font/KIMM_Light.woff") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "intelone-mono-font-family-regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  cursor: none;
}

body {
  background-color: #fff;
  letter-spacing: -0.0625em;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "KIMM_Bold";
  font-weight: 800;
}

#left {
  width: 0%;
  height: 100vh;
  background-color: #000;
  position: absolute;
  left: 0%;
  transition: 1s;
}

#right {
  width: 0%;
  height: 100vh;
  background-color: #000;
  position: absolute;
  right: 0%;
  transition: 1s;
}

section#main {
  display: flex;
  width: 100%;
  height: 100vh;
  transition: 0.7s;
  position: relative;
  z-index: 9999;
  overflow: hidden;
}
section#main .mainInner {
  width: 1280px;
  height: 1080px;
  margin: 0 auto;
}

ul.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul.text .up {
  display: flex;
}
ul.text .up div {
  position: relative;
  height: 100px;
  width: 100px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
}
ul.text .down {
  display: flex;
}
ul.text .down div {
  position: relative;
  height: 100px;
  width: 100px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
}
ul.text .myName {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
ul.text .myName div {
  position: relative;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
}
ul.text input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 80px;
  width: 80px;
  z-index: 100;
}
ul.text input[type=checkbox]:checked ~ div {
  color: #fff;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: color 2s linear infinite;
}
@keyframes color {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}/*# sourceMappingURL=landing.css.map */