@charset "utf-8";
@import "./mixin";

/* 커스텀 커서를 위한 커서 초기화 */
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


html,
body {
    cursor: none;
    box-sizing: border-box;
    letter-spacing: -1px;
}


/* 커스텀 커서 */
.custom-cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $main;
    pointer-events: none;
    /* 커서가 다른 요소에 영향을 미치지 않도록 함 */
    z-index: 9999999;
    display: none;
}

/*햄버거메뉴*/
.hbm {
    // position: relative;

    .hbmInner {
        // position: absolute;
        background-color: #fff;
        width: 100%;
        height: 60px;

        .mPagaName {
            display: none;
        }

    }


    img {
        top: 10px;
        right: 10px;
        z-index: 998;
        transition: 0.5s;
        display: flex;
        align-items: center;
        position: fixed;
        width: 40px;
        height: 40px;

    }
}






/*header */


header {
    right: -4999px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    position: fixed;
    z-index: 99;
    display: flex;
    transition: 0.7s;
    align-items: center;
    justify-content: center;
    font-family: "KIMM_Bold";

    .headerInner {
        width: 60%;
        height: 100%;
        background-color: #fff;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        ul.submenu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: left;

        }
    }
}

/* 헤더 텍스트 */
header .headerInner ul.submenu a {
    font-size: 142px;
    font-weight: 800;
    position: relative;
    z-index: 2;

    &:before {
        content: "";
        position: absolute;
        width: 0%;
        height: 80%;
        background-color: $main;
        bottom: 30px;
        z-index: -1;

    }

    &:hover {
        &:before {
            content: "";
            transition: 0.7s;
            width: 100%;
        }

    }
}

/* project section */
section#project {
    width: 100%;
    position: relative;
    height: 880px;

    .pagename {
        @include pagename();
    }

    .portInner {
        @include pageInner();

        .works {
            margin-top: 80px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: space-between;


            .mPortName {
                width: 100px;

            }

            .worksBox {

                background-color: #fff;
                margin-bottom: 18px;
                width: 24%;
                height: 180px;
                box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.3);
                overflow: hidden;
                position: relative;

                .mPortName {
                    display: none;
                }

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                }

                &:hover>.imgInner {
                    top: 50%;
                    left: 50%;
                    background: rgba(0, 0, 0, 0.8);
                    transform: translate(-50%, -50%);
                    transition: 0.7s;
                }

                .imgInner {
                    position: absolute;
                    left: 50%;
                    top: -200px;
                    width: 100%;
                    height: 100%;
                    transform: translateX(-50%);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    transition: 0.7s;


                    h3 {
                        color: #fff;
                        text-align: center;
                        font-style: normal;
                        font-size: 30px;
                        position: relative;
                        font-weight: normal;
                        font-family: "Noto Sans KR";
                    }

                    .iconBox {
                        display: flex;
                        width: 70%;
                        justify-content: center;
                        text-align: center;

                        div {
                            color: #fff;

                            p {
                                margin-top: 8px;
                            }

                        }
                    }

                }

            }
        }

    }
}

/* 모달창 배경 */
.modalbg {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 99;
}

/*모달창*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $grid;
    height: 720px;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.3);
    display: none;
    overflow: hidden;

}

.modal {
    .xbtn {
        position: absolute;
        top: 24px;
        right: 24px;

        img {
            width: 36px;
            height: 36px;
        }
    }

    .modalInner {
        margin: 0 auto;
        width: 1120px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        a.leftContents {
            width: 45%;

            .textCover {
                display: flex;
                margin-bottom: 20px;
                height: 50px;
                line-height: 50px;
                justify-content: space-between;

                h2 {
                    font-family: "Noto Sans KR";

                    font-weight: bold;
                    font-size: 36px;
                }

                .siteBtn {
                    font-family: "Noto Sans KR";

                    position: relative;
                    font-weight: 600;
                    font-size: 20px;
                    transition: 0.5s;

                    &:hover {
                        color: #8A2BE2;
                    }

                    &:hover:before {
                        right: 78%;
                        background-color: #8A2BE2;

                    }

                    &::before {
                        content: "";
                        position: absolute;
                        width: 16px;
                        height: 2px;
                        background-color: #111;
                        top: 10px;
                        right: 0px;
                        transition: 0.5s;
                    }
                }

            }

            .siteFullCover {
                position: relative;

                i {
                    position: absolute;

                    right: 30px;
                    bottom: 30px;

                    animation: mousescroll 1s ease infinite;
                    font-size: 24px;
                }

                .siteFull {

                    margin-top: 10px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    height: 320px;
                    overflow: hidden;
                    overflow: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    img {
                        width: 100%;
                        outline: none;
                        display: block;


                    }

                    @keyframes mousescroll {
                        0% {
                            bottom: 20px;
                        }

                        100% {
                            bottom: 10px;
                        }
                    }
                }
            }

        }

        .rightContents {
            width: 45%;

            div {
                margin-bottom: 16px;
            }

            span {
                @include title();
            }

            p {
                margin-top: 7px;
                @include contents();
            }

            .icon {
                display: flex;
                gap: 16px;


                img {
                    margin-top: 40px;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                }
            }

        }
    }
}



/* skills */
main section#skills {
    width: 100%;
    height: 1800px;

    .pagename {
        @include pagename();
    }

    .skillsInner {
        @include pageInner();

        .skills {
            // height: 40%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 80px;

            flex-wrap: wrap;

            .card {
                width: 32%;
                margin-top: 20px;

                transition: transform 1s;
                transform: perspective(800px) rotateY(0deg);
                background-color: #fff;
                transform-style: preserve-3d;
                display: inline-grid;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
                line-height: 1.6;
                position: relative;
                z-index: 9;

                &:hover {
                    transform: perspective(800px) rotateY(180deg);
                }

                >* {
                    grid-area: 1 / 1 / 1 / 1;
                }

                >div {
                    width: 100%;
                    height: 280px;
                    backface-visibility: hidden;
                }


                .front {
                    width: 100%;
                    height: 280px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 200px;
                    }
                }

                .back {
                    width: 100%;
                    overflow: hidden;
                    height: 280px;
                    transform: rotateY(180deg);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    background-color: #fff;

                    .backInner {
                        width: 90%;
                        height: 90%;
                        text-align: justify;

                        p {
                            text-align: center;
                            font-weight: 600;
                            @include title();
                            // font-size: 36px;
                        }

                        span {
                            @include contents();
                            font-size: 16px;
                            // font-weight: 500;
                            text-align: left;

                        }





                    }

                }

            }

            .mSkill {
                display: none;
                // background-color: red;
                width: 100px;
                height: 100px;
            }


        }

    }
}


/* section */
main section#me {
    width: 100%;
    height: 1080px;

    .pagename {
        @include pagename();

    }

    .meInner {
        width: $grid;
        height: 100%;
        position: relative;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .meIntro {

            display: flex;
            height: 100%;
            width: 45%;
            align-items: center;
            justify-content: space-between;


            .meImage {

                img {
                    max-width: 100%;

                }
            }

        }

        .meDetails {
            width: 45%;

            ul {
                margin-bottom: 40px;

                li {
                    &:nth-child(1) {
                        @include title();
                        margin-bottom: 6px;
                    }

                    @include contents();
                    margin-top: 4px;

                    i {
                        font-weight: 600;
                        display: block;
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
}


/* ContactUs */
main section#Contact {
    width: 100%;
    height: 1080px;
    overflow: hidden;

    .pagename {
        @include pagename();
    }

    .contactInner {
        width: $grid;
        height: 880px;
        position: relative;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .contactMe {

            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                width: 45%;
                font-size: 40px;
                text-align: center;
                font-family: "Noto Sans Kr";
                font-family: "KIMM_Light";

                .lightpenOn {

                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        background-color: $main;

                        width: 1%;
                        bottom: 0;
                        top: 0;
                        z-index: -1;
                        animation: light 2s ease forwards;
                    }
                }

                @keyframes light {
                    0% {
                        width: 0%;
                    }

                    100% {
                        width: 100%;
                    }
                }
            }

            form {

                width: 45%;
                color: #000;

                .form {

                    cursor: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        width: 100%;
                        height: 19%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        label {
                            font-family: 'Noto Sans Kr';
                            font-size: 20px;
                            font-weight: 600;
                            margin-right: 10px;
                        }

                        input {
                            cursor: none;
                            border: none;
                            border-radius: 5px;
                            outline: none;
                            width: 100%;
                            height: 50px;
                            background-color: #fff;
                            border: 1px solid #000;

                            font-family: Inter;

                            font-size: 16px;
                            font-weight: 400;
                            padding-left: 10px;
                            margin-bottom: 20px;
                            box-sizing: border-box;
                        }


                        &:nth-child(4) {
                            height: 50%;

                            textarea {
                                border: none;
                                border-radius: 5px;
                                outline: none;
                                cursor: none;
                                width: 100%;
                                height: 200px;
                                padding-top: 10px;

                                background-color: #fff;
                                border: 1px solid #000;
                                box-sizing: border-box;
                                font-family: 'Noto Sans Kr';
                                font-size: 1rem;
                                font-weight: 400;
                                padding-left: 10px;
                                margin-bottom: 20px;

                            }

                        }

                    }

                    .button {
                        cursor: none;
                        width: 180px;
                        height: 50px;

                        transition: 0.5s;
                        outline: none;
                        background-color: #fff;
                        color: #000;
                        border: none;
                        border-radius: 5px;
                        font-family: 'Noto Sans Kr';

                        font-size: 1.5rem;
                        font-weight: 600;
                        border: 1px solid #000;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}


.buttonon {

    cursor: none;
    width: 180px;
    height: 50px;
    background-color: #000;
    transition: 0.5s;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans Kr';
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid #000;
    box-sizing: border-box;
}

.alertbox {
    opacity: 0.1;
    width: 300px;
    height: 40px;
    position: fixed;
    bottom: -100px;
    background-color: #000;
    z-index: 99999999999;
    text-align: center;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: translateX(-50%);
    left: 50%;
    font-family: "Noto Sans KR";
    transition: 0.5s;
}

.alertboxOn {
    opacity: 1;
    width: 300px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    background-color: #000;
    z-index: 99999999999;
    text-align: center;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: translateX(-50%);
    left: 50%;
    font-family: "Noto Sans KR";
}

/* 반응형 mobile*/
@media (max-width:$mobile) {
    body {
        background-color: #fff;
        width: 100%;
        // overflow-x: hidden;
    }

    // 햄버거버튼
    .hbm {

        .hbmInner {
            background-color: #fff;
            width: 100%;

            height: 60px;
            position: fixed;
            z-index: 999999;
            top: 0px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;


            .mPagaName {
                display: block;
                font-family: 'KIMM_Bold';
                font-size: 24px;
                margin-left: 2%;
            }

            img {
                width: 24px;
                height: 24px;
                top: 18px;
                margin-right: 2%;


            }
        }


    }

    // header
    header {
        .headerInner {
            width: 80%;

        }
    }

    // 헤더 텍스트
    header .headerInner ul.submenu a {
        font-size: 48px;
        font-weight: 600;

        &:before {
            content: "";
            position: absolute;
            width: 0%;
            height: 80%;
            background-color: $main;
            bottom: 10px;
            z-index: -1;

        }
    }

    /* 모바일 project section */
    section#project {
        width:100%;
        position: relative;
        height: 2800px;

        .pagename {
            display: none;
        }


        .portInner {
            width: 70%;

            .works {
                margin-top: 80px;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                justify-content: space-between;
                flex-direction: column;
                gap: 50px;

                div:nth-child(4),
                div:nth-child(7),
                div:nth-child(8),
                div:nth-child(11) {
                    display: none;
                }

                .worksBox {
                    background-color: #fff;
                    margin-bottom: 24px;
                    width: 100%;
                    height: 280px;
                    box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.3);
                    overflow: visible;
                    position: relative;

                    .mPortName {
                        display: block;
                        width: 240px;                       
                        position: absolute;
                        bottom: -32px;
                        font-size: 20px;
                        transform: translateX(-50%);
                        left: 50%;
                        text-align: center;
                        font-weight: 400;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: contain;
                    }

                    &:hover>.imgInner {
                       display: none;
                    }

                    .imgInner {
                    display: none;


                        h3 {
                         display: none;
                        }

                        .iconBox {
                     display: none;

                            div {
                                color: #fff;

                                p {
                                    margin-top: 8px;
                                }

                            }
                        }

                    }

                }
            }

        }
    }

    // 반응형에서 제목 보이게

    // 반응형에서 모달창
    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color: #fff;

        z-index: 9999;
        box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.3);
        display: none;
        overflow: hidden;

    }

    .modal {
        .xbtn {
            position: absolute;
            top: 20px;
            right: 20px;

            img {
                width: 28px;
                height: 28px;
            }
        }

        .modalInner {

            margin: 0 auto;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            // align-items: center;
            // justify-content: center;

            a.leftContents {
                margin-top: 100px;
                width: 98%;
                margin: 100px auto;
                // height: 100%;


                .textCover {
                    width: 100%;
                    display: flex;
                    margin-bottom: 20px;
                    height: 100px;
                    line-height: 50px;
                    justify-content: space-between;
                    flex-direction: column;

                    h2 {
                        font-family: "Noto Sans KR";

                        font-weight: bold;
                        font-size: 36px;
                    }

                    .siteBtn {
                        font-family: "Noto Sans KR";

                        position: relative;
                        font-weight: 600;
                        font-size: 20px;
                        transition: 0.5s;

                        &:hover {
                            color: #8A2BE2;
                        }

                        &:hover:before {
                            right: 78%;
                            background-color: #8A2BE2;

                        }

                        &::before {
                            content: "";
                            position: absolute;
                            width: 16px;
                            height: 2px;
                            background-color: #111;
                            top: 10px;
                            left: 0px;
                            transition: 0.5s;
                        }
                    }

                }

                .siteFullCover {
                    position: relative;


                    i {
                        position: absolute;

                        right: 30px;
                        bottom: 30px;

                        animation: mousescroll 1s ease infinite;
                        font-size: 24px;
                    }

                    .siteFull {
                        width: 100%;
                        margin-top: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        height: 320px;
                        overflow: hidden;
                        overflow: scroll;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        img {
                            width: 100%;
                            outline: none;
                            display: block;


                        }

                        @keyframes mousescroll {
                            0% {
                                bottom: 20px;
                            }

                            100% {
                                bottom: 10px;
                            }
                        }
                    }
                }

            }

            .rightContents {
                width: 98%;

                div {
                    margin-bottom: 16px;
                }

                span {
                    @include title();
                }

                p {
                    margin-top: 7px;
                    @include contents();
                }

                .icon {
                    display: flex;
                    gap: 16px;


                    img {
                        margin-top: 40px;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                    }
                }

            }
        }
    }


    // mobile 반응형 skill 영역
    main section#skills {
        width: 100%;
        height: 800px;

        .pagename {
            display: none;

        }

        .skillsInner {
            width: 70%;

            .skills {
                // height: 40%;
                width: 100%;
                display: flex;
                flex-direction: column;
                // margin-top: 80px;
                gap: 10px;
                flex-wrap: wrap;

                .card {
                    display: none;

                }

                // 모바일에선 skill 영역이 다르게 보임
                .mSkill {
                    display: block;
                    width: 100%;
                    height: 100px;
                    border-radius: 10px;
                    display: flex;

                    justify-content: space-between;
                    align-items: center;
                    box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.3);

                    .mTools {
                        display: flex;
                        justify-content: center;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        background-color: #fff;
                        padding: 10px;

                        // overflow-y: hidden;
                        img {
                            width: 48px;
                        }


                    }

                    .mDescription {
                        width: 80%;
                    }
                }
            }

        }
    }

    // mobile 반응형 about me 영역
    main section#me {
        width: 100%;
        height: 1080px;

        .pagename {
            display: none;
        }

        .meInner {
            width: 70%;
            height: 100%;
            position: relative;
            margin: 0px auto;
            display: flex;
            // justify-content: space-between;
            flex-direction: column;
            align-items: center;


            .meIntro {

                display: flex;
                height: 100%;
                width: 100%;
                align-items: center;
                justify-content: center;


                .meImage {

                    img {
                        max-width: 100%;

                    }
                }

            }

            .meDetails {
                width: 100%;
                align-items: center;
                justify-content: center;
                text-align: center;

                ul {
                    margin-bottom: 40px;


                    li {

                        &:nth-child(1) {
                            @include title();
                            margin-bottom: 6px;
                        }

                        @include contents();
                        margin-top: 4px;

                        i {
                            font-weight: 600;
                            display: block;
                            margin-bottom: 6px;
                        }
                    }
                }
            }
        }
    }


    // 모바일용 contatct 영역
    main section#Contact {
        width: 100%;
        height: 900px;
        overflow: hidden;

        .pagename {
            display: none;
        }

        .contactInner {
            width: 70%;
            height: 880px;
            position: relative;
            margin: 100px auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .contactMe {

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                p {
                    width: 100%;
                    font-size: 30px;
                    text-align: center;
                    font-family: "Noto Sans Kr";
                    font-family: "KIMM_Light";

                    .lightpenOn {

                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            background-color: $main;

                            width: 1%;
                            bottom: 0;
                            top: 0;
                            z-index: -1;
                            animation: light 2s ease forwards;
                        }
                    }

                    @keyframes light {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 100%;
                        }
                    }
                }

                form {

                    width: 100%;
                    color: #000;

                    .form {

                        cursor: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        div {
                            width: 100%;
                            height: 19%;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            label {
                                font-family: 'Noto Sans Kr';
                                font-size: 20px;
                                font-weight: 600;
                                margin-right: 10px;
                            }

                            input {
                                cursor: none;
                                border: none;
                                border-radius: 5px;
                                outline: none;
                                width: 100%;
                                height: 50px;
                                background-color: #fff;
                                border: 1px solid #000;

                                font-family: Inter;

                                font-size: 16px;
                                font-weight: 400;
                                padding-left: 10px;
                                margin-bottom: 20px;
                                box-sizing: border-box;
                            }


                            &:nth-child(4) {
                                height: 50%;

                                textarea {
                                    border: none;
                                    border-radius: 5px;
                                    outline: none;
                                    cursor: none;
                                    width: 100%;
                                    height: 200px;
                                    padding-top: 10px;

                                    background-color: #fff;
                                    border: 1px solid #000;
                                    box-sizing: border-box;
                                    font-family: 'Noto Sans Kr';
                                    font-size: 1rem;
                                    font-weight: 400;
                                    padding-left: 10px;
                                    margin-bottom: 20px;

                                }

                            }

                        }

                        .button {
                            cursor: none;
                            width: 180px;
                            height: 50px;

                            transition: 0.5s;
                            outline: none;
                            background-color: #fff;
                            color: #000;
                            border: none;
                            border-radius: 5px;
                            font-family: 'Noto Sans Kr';

                            font-size: 1.5rem;
                            font-weight: 600;
                            border: 1px solid #000;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }

}