@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@font-face {
  font-family: "KIMM_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KIMM_Light";
  src: url("../font/KIMM_Light.woff") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "intelone-mono-font-family-regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  cursor: none;
}

body {
  background-color: #fff;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 커스텀 커서를 위한 커서 초기화 */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  cursor: none;
  box-sizing: border-box;
  letter-spacing: -1px;
}

/* 커스텀 커서 */
.custom-cursor {
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #B3A9E4;
  pointer-events: none;
  /* 커서가 다른 요소에 영향을 미치지 않도록 함 */
  z-index: 9999999;
  display: none;
}

/*햄버거메뉴*/
.hbm .hbmInner {
  background-color: #fff;
  width: 100%;
  height: 60px;
}
.hbm .hbmInner .mPagaName {
  display: none;
}
.hbm img {
  top: 10px;
  right: 10px;
  z-index: 998;
  transition: 0.5s;
  display: flex;
  align-items: center;
  position: fixed;
  width: 40px;
  height: 40px;
}

/*header */
header {
  right: -4999px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  position: fixed;
  z-index: 99;
  display: flex;
  transition: 0.7s;
  align-items: center;
  justify-content: center;
  font-family: "KIMM_Bold";
}
header .headerInner {
  width: 60%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .headerInner ul.submenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

/* 헤더 텍스트 */
header .headerInner ul.submenu a {
  font-size: 142px;
  font-weight: 800;
  position: relative;
  z-index: 2;
}
header .headerInner ul.submenu a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 80%;
  background-color: #B3A9E4;
  bottom: 30px;
  z-index: -1;
}
header .headerInner ul.submenu a:hover:before {
  content: "";
  transition: 0.7s;
  width: 100%;
}

/* project section */
section#project {
  width: 100%;
  position: relative;
  height: 880px;
}
section#project .pagename {
  text-align: center;
  margin-top: 60px;
}
section#project .pagename span {
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  color: #111;
  font-family: "KIMM_Bold";
  position: relative;
  /* 페이지 제목 사각형*/
}
section#project .pagename span:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #B3A9E4;
  top: 0px;
  right: -20px;
}
section#project .portInner {
  width: 1280px;
  height: 100vh;
  position: relative;
  margin: 0px auto;
}
section#project .portInner .works {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
section#project .portInner .works .worksBox {
  background-color: #fff;
  margin-bottom: 18px;
  width: 24%;
  height: 180px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}
section#project .portInner .works .worksBox img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
section#project .portInner .works .worksBox:hover > .imgInner {
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%);
  transition: 0.7s;
}
section#project .portInner .works .worksBox .imgInner {
  position: absolute;
  left: 50%;
  top: -200px;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.7s;
}
section#project .portInner .works .worksBox .imgInner h3 {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-size: 30px;
  position: relative;
  font-weight: normal;
  font-family: "Noto Sans KR";
}
section#project .portInner .works .worksBox .imgInner .iconBox {
  display: flex;
  width: 70%;
  justify-content: center;
  text-align: center;
}
section#project .portInner .works .worksBox .imgInner .iconBox div {
  color: #fff;
}
section#project .portInner .works .worksBox .imgInner .iconBox div p {
  margin-top: 8px;
}

/* 모달창 배경 */
.modalbg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 99;
}

/*모달창*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280px;
  height: 720px;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
  display: none;
  overflow: hidden;
}

.modal .xbtn {
  position: absolute;
  top: 24px;
  right: 24px;
}
.modal .xbtn img {
  width: 36px;
  height: 36px;
}
.modal .modalInner {
  margin: 0 auto;
  width: 1120px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .modalInner a.leftContents {
  width: 45%;
}
.modal .modalInner a.leftContents .textCover {
  display: flex;
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;
  justify-content: space-between;
}
.modal .modalInner a.leftContents .textCover h2 {
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 36px;
}
.modal .modalInner a.leftContents .textCover .siteBtn {
  font-family: "Noto Sans KR";
  position: relative;
  font-weight: 600;
  font-size: 20px;
  transition: 0.5s;
}
.modal .modalInner a.leftContents .textCover .siteBtn:hover {
  color: #8A2BE2;
}
.modal .modalInner a.leftContents .textCover .siteBtn:hover:before {
  right: 78%;
  background-color: #8A2BE2;
}
.modal .modalInner a.leftContents .textCover .siteBtn::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #111;
  top: 10px;
  right: 0px;
  transition: 0.5s;
}
.modal .modalInner a.leftContents .siteFullCover {
  position: relative;
}
.modal .modalInner a.leftContents .siteFullCover i {
  position: absolute;
  right: 30px;
  bottom: 30px;
  animation: mousescroll 1s ease infinite;
  font-size: 24px;
}
.modal .modalInner a.leftContents .siteFullCover .siteFull {
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 320px;
  overflow: hidden;
  overflow: scroll;
}
.modal .modalInner a.leftContents .siteFullCover .siteFull::-webkit-scrollbar {
  display: none;
}
.modal .modalInner a.leftContents .siteFullCover .siteFull img {
  width: 100%;
  outline: none;
  display: block;
}
@keyframes mousescroll {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}
.modal .modalInner .rightContents {
  width: 45%;
}
.modal .modalInner .rightContents div {
  margin-bottom: 16px;
}
.modal .modalInner .rightContents span {
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 24px;
  line-height: 1.6;
}
.modal .modalInner .rightContents p {
  margin-top: 7px;
  font-family: "Inter";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
}
.modal .modalInner .rightContents .icon {
  display: flex;
  gap: 16px;
}
.modal .modalInner .rightContents .icon img {
  margin-top: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* skills */
main section#skills {
  width: 100%;
  height: 1800px;
}
main section#skills .pagename {
  text-align: center;
  margin-top: 60px;
}
main section#skills .pagename span {
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  color: #111;
  font-family: "KIMM_Bold";
  position: relative;
  /* 페이지 제목 사각형*/
}
main section#skills .pagename span:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #B3A9E4;
  top: 0px;
  right: -20px;
}
main section#skills .skillsInner {
  width: 1280px;
  height: 100vh;
  position: relative;
  margin: 0px auto;
}
main section#skills .skillsInner .skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  flex-wrap: wrap;
}
main section#skills .skillsInner .skills .card {
  width: 32%;
  margin-top: 20px;
  transition: transform 1s;
  transform: perspective(800px) rotateY(0deg);
  background-color: #fff;
  transform-style: preserve-3d;
  display: inline-grid;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  line-height: 1.6;
  position: relative;
  z-index: 9;
}
main section#skills .skillsInner .skills .card:hover {
  transform: perspective(800px) rotateY(180deg);
}
main section#skills .skillsInner .skills .card > * {
  grid-area: 1/1/1/1;
}
main section#skills .skillsInner .skills .card > div {
  width: 100%;
  height: 280px;
  backface-visibility: hidden;
}
main section#skills .skillsInner .skills .card .front {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#skills .skillsInner .skills .card .front img {
  width: 200px;
}
main section#skills .skillsInner .skills .card .back {
  width: 100%;
  overflow: hidden;
  height: 280px;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
}
main section#skills .skillsInner .skills .card .back .backInner {
  width: 90%;
  height: 90%;
  text-align: justify;
}
main section#skills .skillsInner .skills .card .back .backInner p {
  text-align: center;
  font-weight: 600;
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 24px;
  line-height: 1.6;
}
main section#skills .skillsInner .skills .card .back .backInner span {
  font-family: "Inter";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  font-size: 16px;
  text-align: left;
}
main section#skills .skillsInner .skills .mSkill {
  display: none;
  width: 100px;
  height: 100px;
}

/* section */
main section#me {
  width: 100%;
  height: 1080px;
}
main section#me .pagename {
  text-align: center;
  margin-top: 60px;
}
main section#me .pagename span {
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  color: #111;
  font-family: "KIMM_Bold";
  position: relative;
  /* 페이지 제목 사각형*/
}
main section#me .pagename span:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #B3A9E4;
  top: 0px;
  right: -20px;
}
main section#me .meInner {
  width: 1280px;
  height: 100%;
  position: relative;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#me .meInner .meIntro {
  display: flex;
  height: 100%;
  width: 45%;
  align-items: center;
  justify-content: space-between;
}
main section#me .meInner .meIntro .meImage img {
  max-width: 100%;
}
main section#me .meInner .meDetails {
  width: 45%;
}
main section#me .meInner .meDetails ul {
  margin-bottom: 40px;
}
main section#me .meInner .meDetails ul li {
  font-family: "Inter";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 4px;
}
main section#me .meInner .meDetails ul li:nth-child(1) {
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 6px;
}
main section#me .meInner .meDetails ul li i {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
}

/* ContactUs */
main section#Contact {
  width: 100%;
  height: 1080px;
  overflow: hidden;
}
main section#Contact .pagename {
  text-align: center;
  margin-top: 60px;
}
main section#Contact .pagename span {
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  color: #111;
  font-family: "KIMM_Bold";
  position: relative;
  /* 페이지 제목 사각형*/
}
main section#Contact .pagename span:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #B3A9E4;
  top: 0px;
  right: -20px;
}
main section#Contact .contactInner {
  width: 1280px;
  height: 880px;
  position: relative;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section#Contact .contactInner .contactMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#Contact .contactInner .contactMe p {
  width: 45%;
  font-size: 40px;
  text-align: center;
  font-family: "Noto Sans Kr";
  font-family: "KIMM_Light";
}
main section#Contact .contactInner .contactMe p .lightpenOn {
  position: relative;
}
main section#Contact .contactInner .contactMe p .lightpenOn::before {
  content: "";
  position: absolute;
  background-color: #B3A9E4;
  width: 1%;
  bottom: 0;
  top: 0;
  z-index: -1;
  animation: light 2s ease forwards;
}
@keyframes light {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
main section#Contact .contactInner .contactMe form {
  width: 45%;
  color: #000;
}
main section#Contact .contactInner .contactMe form .form {
  cursor: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main section#Contact .contactInner .contactMe form .form div {
  width: 100%;
  height: 19%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main section#Contact .contactInner .contactMe form .form div label {
  font-family: "Noto Sans Kr";
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}
main section#Contact .contactInner .contactMe form .form div input {
  cursor: none;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: 1px solid #000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
main section#Contact .contactInner .contactMe form .form div:nth-child(4) {
  height: 50%;
}
main section#Contact .contactInner .contactMe form .form div:nth-child(4) textarea {
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: none;
  width: 100%;
  height: 200px;
  padding-top: 10px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  font-family: "Noto Sans Kr";
  font-size: 1rem;
  font-weight: 400;
  padding-left: 10px;
  margin-bottom: 20px;
}
main section#Contact .contactInner .contactMe form .form .button {
  cursor: none;
  width: 180px;
  height: 50px;
  transition: 0.5s;
  outline: none;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  font-family: "Noto Sans Kr";
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid #000;
  box-sizing: border-box;
}

.buttonon {
  cursor: none;
  width: 180px;
  height: 50px;
  background-color: #000;
  transition: 0.5s;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Noto Sans Kr";
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid #000;
  box-sizing: border-box;
}

.alertbox {
  opacity: 0.1;
  width: 300px;
  height: 40px;
  position: fixed;
  bottom: -100px;
  background-color: #000;
  z-index: 99999999999;
  text-align: center;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transform: translateX(-50%);
  left: 50%;
  font-family: "Noto Sans KR";
  transition: 0.5s;
}

.alertboxOn {
  opacity: 1;
  width: 300px;
  height: 40px;
  position: fixed;
  bottom: 40px;
  background-color: #000;
  z-index: 99999999999;
  text-align: center;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transform: translateX(-50%);
  left: 50%;
  font-family: "Noto Sans KR";
}

/* 반응형 mobile*/
@media (max-width: 768px) {
  body {
    background-color: #fff;
    width: 100%;
  }
  .hbm .hbmInner {
    background-color: #fff;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 999999;
    top: 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
  }
  .hbm .hbmInner .mPagaName {
    display: block;
    font-family: "KIMM_Bold";
    font-size: 24px;
    margin-left: 2%;
  }
  .hbm .hbmInner img {
    width: 24px;
    height: 24px;
    top: 18px;
    margin-right: 2%;
  }
  header .headerInner {
    width: 80%;
  }
  header .headerInner ul.submenu a {
    font-size: 48px;
    font-weight: 600;
  }
  header .headerInner ul.submenu a:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 80%;
    background-color: #B3A9E4;
    bottom: 10px;
    z-index: -1;
  }
  /* 모바일 project section */
  section#project {
    width: 100%;
    position: relative;
    height: 2400px;
  }
  section#project .pagename {
    display: none;
  }
  section#project .portInner {
    width: 95%;
  }
  section#project .portInner .works {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  section#project .portInner .works div:nth-child(4),
  section#project .portInner .works div:nth-child(7),
  section#project .portInner .works div:nth-child(8),
  section#project .portInner .works div:nth-child(11) {
    display: none;
  }
  section#project .portInner .works .worksBox {
    background-color: #fff;
    margin-bottom: 24px;
    width: 100%;
    height: 280px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
  }
  section#project .portInner .works .worksBox img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section#project .portInner .works .worksBox:hover > .imgInner {
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.8);
    transform: translate(-50%, -50%);
    transition: 0.7s;
  }
  section#project .portInner .works .worksBox .imgInner {
    position: absolute;
    left: 50%;
    top: -400px;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.7s;
  }
  section#project .portInner .works .worksBox .imgInner h3 {
    color: #fff;
    text-align: center;
    font-style: normal;
    font-size: 30px;
    position: relative;
    font-weight: normal;
    font-family: "Noto Sans KR";
  }
  section#project .portInner .works .worksBox .imgInner .iconBox {
    display: flex;
    width: 70%;
    justify-content: center;
    text-align: center;
  }
  section#project .portInner .works .worksBox .imgInner .iconBox div {
    color: #fff;
  }
  section#project .portInner .works .worksBox .imgInner .iconBox div p {
    margin-top: 8px;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
    display: none;
    overflow: hidden;
  }
  .modal .xbtn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .modal .xbtn img {
    width: 28px;
    height: 28px;
  }
  .modal .modalInner {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  .modal .modalInner a.leftContents {
    margin-top: 100px;
    width: 98%;
    margin: 100px auto;
  }
  .modal .modalInner a.leftContents .textCover {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    height: 100px;
    line-height: 50px;
    justify-content: space-between;
    flex-direction: column;
  }
  .modal .modalInner a.leftContents .textCover h2 {
    font-family: "Noto Sans KR";
    font-weight: bold;
    font-size: 36px;
  }
  .modal .modalInner a.leftContents .textCover .siteBtn {
    font-family: "Noto Sans KR";
    position: relative;
    font-weight: 600;
    font-size: 20px;
    transition: 0.5s;
  }
  .modal .modalInner a.leftContents .textCover .siteBtn:hover {
    color: #8A2BE2;
  }
  .modal .modalInner a.leftContents .textCover .siteBtn:hover:before {
    right: 78%;
    background-color: #8A2BE2;
  }
  .modal .modalInner a.leftContents .textCover .siteBtn::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #111;
    top: 10px;
    left: 0px;
    transition: 0.5s;
  }
  .modal .modalInner a.leftContents .siteFullCover {
    position: relative;
  }
  .modal .modalInner a.leftContents .siteFullCover i {
    position: absolute;
    right: 30px;
    bottom: 30px;
    animation: mousescroll 1s ease infinite;
    font-size: 24px;
  }
  .modal .modalInner a.leftContents .siteFullCover .siteFull {
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 320px;
    overflow: hidden;
    overflow: scroll;
  }
  .modal .modalInner a.leftContents .siteFullCover .siteFull::-webkit-scrollbar {
    display: none;
  }
  .modal .modalInner a.leftContents .siteFullCover .siteFull img {
    width: 100%;
    outline: none;
    display: block;
  }
  @keyframes mousescroll {
    0% {
      bottom: 20px;
    }
    100% {
      bottom: 10px;
    }
  }
  .modal .modalInner .rightContents {
    width: 98%;
  }
  .modal .modalInner .rightContents div {
    margin-bottom: 16px;
  }
  .modal .modalInner .rightContents span {
    font-family: "Noto Sans KR";
    font-weight: bold;
    font-size: 24px;
    line-height: 1.6;
  }
  .modal .modalInner .rightContents p {
    margin-top: 7px;
    font-family: "Inter";
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
  }
  .modal .modalInner .rightContents .icon {
    display: flex;
    gap: 16px;
  }
  .modal .modalInner .rightContents .icon img {
    margin-top: 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  main section#skills {
    width: 100%;
    height: 800px;
  }
  main section#skills .pagename {
    display: none;
  }
  main section#skills .skillsInner {
    width: 95%;
  }
  main section#skills .skillsInner .skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
  }
  main section#skills .skillsInner .skills .card {
    display: none;
  }
  main section#skills .skillsInner .skills .mSkill {
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
  }
  main section#skills .skillsInner .skills .mSkill .mTools {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #fff;
    padding: 10px;
  }
  main section#skills .skillsInner .skills .mSkill .mTools img {
    width: 48px;
  }
  main section#skills .skillsInner .skills .mSkill .mDescription {
    width: 80%;
  }
  main section#me {
    width: 100%;
    height: 1080px;
  }
  main section#me .pagename {
    display: none;
  }
  main section#me .meInner {
    width: 95%;
    height: 100%;
    position: relative;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section#me .meInner .meIntro {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  main section#me .meInner .meIntro .meImage img {
    max-width: 100%;
  }
  main section#me .meInner .meDetails {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  main section#me .meInner .meDetails ul {
    margin-bottom: 40px;
  }
  main section#me .meInner .meDetails ul li {
    font-family: "Inter";
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 4px;
  }
  main section#me .meInner .meDetails ul li:nth-child(1) {
    font-family: "Noto Sans KR";
    font-weight: bold;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 6px;
  }
  main section#me .meInner .meDetails ul li i {
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
  }
  main section#Contact {
    width: 100%;
    height: 900px;
    overflow: hidden;
  }
  main section#Contact .pagename {
    display: none;
  }
  main section#Contact .contactInner {
    width: 95%;
    height: 880px;
    position: relative;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main section#Contact .contactInner .contactMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  main section#Contact .contactInner .contactMe p {
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-family: "Noto Sans Kr";
    font-family: "KIMM_Light";
  }
  main section#Contact .contactInner .contactMe p .lightpenOn {
    position: relative;
  }
  main section#Contact .contactInner .contactMe p .lightpenOn::before {
    content: "";
    position: absolute;
    background-color: #B3A9E4;
    width: 1%;
    bottom: 0;
    top: 0;
    z-index: -1;
    animation: light 2s ease forwards;
  }
  @keyframes light {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  main section#Contact .contactInner .contactMe form {
    width: 100%;
    color: #000;
  }
  main section#Contact .contactInner .contactMe form .form {
    cursor: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  main section#Contact .contactInner .contactMe form .form div {
    width: 100%;
    height: 19%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  main section#Contact .contactInner .contactMe form .form div label {
    font-family: "Noto Sans Kr";
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
  }
  main section#Contact .contactInner .contactMe form .form div input {
    cursor: none;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: 1px solid #000;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  main section#Contact .contactInner .contactMe form .form div:nth-child(4) {
    height: 50%;
  }
  main section#Contact .contactInner .contactMe form .form div:nth-child(4) textarea {
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: none;
    width: 100%;
    height: 200px;
    padding-top: 10px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    font-family: "Noto Sans Kr";
    font-size: 1rem;
    font-weight: 400;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  main section#Contact .contactInner .contactMe form .form .button {
    cursor: none;
    width: 180px;
    height: 50px;
    transition: 0.5s;
    outline: none;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    font-family: "Noto Sans Kr";
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid #000;
    box-sizing: border-box;
  }
}/*# sourceMappingURL=style.css.map */