@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@font-face {
  font-family: "KIMM_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KIMM_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "intelone-mono-font-family-regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  cursor: none;
}

body {
  background-color: #fff;
  font-family: "KIMM_Bold", sans-serif;
  letter-spacing: -0.0625em;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*햄버거메뉴*/
.hbm {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 998;
  transition: 0.5s;
  display: flex;
  align-items: center;
}
.hbm img {
  width: 40px;
  height: 40px;
}

html,
body {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #3498DB;
  pointer-events: none;
  /* 커서가 다른 요소에 영향을 미치지 않도록 함 */
  z-index: 9999999;
  /* 다른 요소 위에 표시하기 위해 z-index 설정 */
  transition: background-color 0.5s;
}
.custom-cursor i {
  font-size: 20px;
  font-weight: bold;
  color: #111;
  animation: mousescroll 1s ease infinite;
}
@keyframes mousescroll {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 5px;
  }
}

/*header */
header {
  right: -4999px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  position: fixed;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
  display: flex;
  transition: 0.8s;
  align-items: center;
  justify-content: center;
}
header .headerInner {
  width: 50%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .headerInner ul.submenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
header .headerInner ul.submenu a {
  font-size: 8rem;
  font-weight: 800;
  position: relative;
  z-index: 2;
}
header .headerInner ul.submenu a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 80%;
  background-color: #2ECC71;
  bottom: 30px;
  z-index: -1;
}
header .headerInner ul.submenu a:hover:before {
  content: "";
  transition: 0.7s;
  width: 100%;
}

section#project {
  width: 100%;
  position: relative;
  height: 1080px;
}
section#project .portInner {
  width: 1280px;
  height: 100%;
  position: relative;
  margin: 0px auto;
}
section#project .portInner .pagename {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #111;
  margin-top: 60px;
}
section#project .portInner .works {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
section#project .portInner .works .worksBox {
  background-color: #fff;
  margin-bottom: 18px;
  width: 24%;
  height: 180px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}
section#project .portInner .works .worksBox img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
section#project .portInner .works .worksBox:hover > .imgInner {
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%);
  transition: 0.7s;
}
section#project .portInner .works .worksBox .imgInner {
  position: absolute;
  left: 50%;
  top: -200px;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.7s;
}
section#project .portInner .works .worksBox .imgInner a {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-size: 1.5rem;
  position: relative;
}
section#project .portInner .works .worksBox .imgInner a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 80%;
  background-color: #2ECC71;
  bottom: 4px;
  z-index: -1;
}
section#project .portInner .works .worksBox .imgInner a:hover {
  color: #000;
  transition: 0.7s;
}
section#project .portInner .works .worksBox .imgInner a:hover:before {
  content: "";
  transition: 0.7s;
  width: 100%;
}
section#project .portInner .works .worksBox .imgInner .iconBox {
  display: flex;
  width: 70%;
  justify-content: center;
  text-align: center;
}
section#project .portInner .works .worksBox .imgInner .iconBox div {
  color: #fff;
  opacity: 0.7;
}
section#project .portInner .works .worksBox .imgInner .iconBox div:hover {
  opacity: 1;
}
section#project .portInner .works .worksBox .imgInner .iconBox div i {
  font-size: 1rem;
}
section#project .portInner .works .worksBox .imgInner .iconBox div p {
  margin-top: 12px;
  font-size: 1rem;
}

/*모달창*/
.modal {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 1280px;
  height: 700px;
  background-color: #EDEDED;
  z-index: 9999;
  position: absolute;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
  display: none;
}
.modal .siteDetails {
  display: flex;
  margin-top: 80px;
  height: 580px;
}
.modal .siteDetails .siteCover {
  width: 50%;
  position: relative;
  height: 100%;
}
.modal .siteDetails .siteCover .site {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.modal .siteDetails .siteCover .site .scroll {
  width: 500px;
  height: 380px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  overflow-y: scroll;
}
.modal .siteDetails .siteCover .site .scroll::-webkit-scrollbar {
  display: none;
}
.modal .siteDetails .siteCover .site .scroll img {
  width: 100%;
}
.modal .siteDetails .siteCover .site > div:not(.scroll) {
  color: #3498DB;
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.modal .siteDetails .siteCover .site > div:not(.scroll) a {
  font-weight: 300;
  color: #000;
}
.modal .siteDetails .siteCover .site > div:not(.scroll) span {
  margin-left: 100px;
  color: #000;
  font-weight: 700;
}

/* 모달창 배경*/
.modalbg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 9999px;
  top: -100px;
  display: none;
  z-index: 99;
}

/*자세히보기 설명항목*/
.modal .siteDetails .des {
  width: 50%;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.modal .siteDetails .des::-webkit-scrollbar {
  display: none;
}
.modal .siteDetails .des > div {
  gap: 10px;
  margin-top: 20px;
}
.modal .siteDetails .des > div .desname {
  font-size: 20px;
  color: #2ECC71;
}
.modal .siteDetails .des .prdes {
  width: 90%;
  margin-bottom: 20px;
  color: #000;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
.modal .siteDetails .des .prdes .cover img {
  width: 600px;
  height: 400px;
  display: block;
}
.modal .siteDetails .des .prdes .contactD {
  margin-top: 20px;
}

/*xbtn*/
.modal .topmenu {
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .topmenu h2.modalName {
  text-align: center;
  width: 80%;
  color: #000;
  font-weight: normal;
  font-size: 32px;
}
.modal .topmenu .xbtn {
  width: 20%;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
  background-color: #EDEDED;
  position: absolute;
  right: 10px;
}

.sort1,
.sort2 {
  color: #fff;
  color: #000;
  font-weight: 300;
  margin-top: 8px;
}

main section#skills {
  width: 100%;
}
main section#skills .skillsInner {
  width: 1280px;
  height: 100%;
  position: relative;
  margin: 0px auto;
}
main section#skills .skillsInner .pagename {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #111;
  margin-top: 60px;
}
main section#skills .skillsInner .skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}
main section#skills .skillsInner .skills .card {
  width: 32%;
  margin-top: 20px;
  display: inline-block;
  transition: transform 1s;
  /* 추가 */
  transform: perspective(800px) rotateY(0deg);
  /* 추가 */
  background-color: #fff;
  transform-style: preserve-3d;
  display: inline-grid;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  line-height: 1.6;
  position: relative;
  z-index: 9;
}
main section#skills .skillsInner .skills .card:hover {
  transform: perspective(800px) rotateY(180deg);
  /* 추가 */
}
main section#skills .skillsInner .skills .card > * {
  grid-area: 1/1/1/1;
}
main section#skills .skillsInner .skills .card > div {
  width: 100%;
  height: 280px;
  backface-visibility: hidden;
}
main section#skills .skillsInner .skills .card .front {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#skills .skillsInner .skills .card .front img {
  width: 200px;
}
main section#skills .skillsInner .skills .card .back {
  width: 100%;
  overflow: hidden;
  height: 280px;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #EDEDED;
  /* 추가 */
}
main section#skills .skillsInner .skills .card .back .backInner {
  width: 90%;
  height: 90%;
}
main section#skills .skillsInner .skills .card .back .backInner p {
  color: #F39C12;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
main section#skills .skillsInner .skills .card .back .backInner ul li {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #111;
}
main section#skills .skillsInner .skills .card .back .backInner ul li span {
  color: #111;
}

main section#me {
  width: 100%;
  height: 1080px;
}
main section#me .meInner {
  width: 1280px;
  height: 100%;
  position: relative;
  margin: 0px auto;
}
main section#me .meInner .pagename {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #111;
  margin-top: 60px;
}
main section#me .meInner .meIntro {
  position: absolute;
  display: flex;
  justify-content: space-between;
}
main section#me .meInner .meIntro .meImage img {
  max-width: 50%;
  border-radius: 50px;
}

main section#Contact {
  width: 100%;
  height: 1080px;
}
main section#Contact .contactInner {
  width: 1280px;
  height: 880px;
  position: relative;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section#Contact .contactInner .pagename {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #111;
  margin-top: 60px;
}
main section#Contact .contactInner .contactMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#Contact .contactInner .contactMe p {
  width: 45%;
  font-size: 40px;
  text-align: center;
}
main section#Contact .contactInner .contactMe form {
  width: 45%;
  color: #000;
}
main section#Contact .contactInner .contactMe form .form {
  cursor: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main section#Contact .contactInner .contactMe form .form div {
  width: 100%;
  height: 19%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main section#Contact .contactInner .contactMe form .form div label {
  font-family: "KIMM_Bold";
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.0625em;
  margin-right: 10px;
}
main section#Contact .contactInner .contactMe form .form div input {
  cursor: none;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: 2px solid black;
  font-family: "KIMM_Bold";
  letter-spacing: -0.0625em;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
}
main section#Contact .contactInner .contactMe form .form div:nth-child(4) {
  height: 50%;
}
main section#Contact .contactInner .contactMe form .form div:nth-child(4) textarea {
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: none;
  width: 100%;
  height: 200px;
  padding-top: 10px;
  background-color: #fff;
  border: 2px solid black;
  font-family: "KIMM_Bold";
  letter-spacing: -0.0625em;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
}
main section#Contact .contactInner .contactMe form .form .button {
  cursor: none;
  width: 180px;
  height: 50px;
  transition: 0.5s;
  outline: none;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  font-family: "KIMM_Bold";
  letter-spacing: -0.0625em;
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid #000;
}

.meActive {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: color 2s linear infinite;
  transition: 0.5s;
}
@keyframes color {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.buttonon {
  opacity: 1;
  position: relative;
  width: 180px;
  height: 50px;
  transition: 0.5s;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: "KIMM_Bold";
  letter-spacing: -0.0625em;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #F39C12;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  --a: initial;
}
.buttonon::after {
  content: "";
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--diameter);
  height: var(--diameter);
  transform: scale(0);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  pointer-events: none;
  animation: var(--a);
}
@keyframes ripple-effect {
  100% {
    transform: scale(1);
    opacity: 0;
  }
}